.wrapper {
  padding-right: 4rem;
  padding-left: 4rem;
  max-width: 49rem;
}

.body {
  font-size: 1.125rem;
  line-height: 2rem;
  color: var(--color-tertiary);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2.5rem;
}

.logoLight {
  display: none;
}

.logoDark {
  display: block;
}

.navPrimary {
  display: flex;
  flex-flow: row nowrap;
  gap: 2.5rem;
  list-style-type: none;
}

.navLink {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--color-tertiary);
  text-decoration: none;
}

.navLinkActive {
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: var(--color-secondary);
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
  text-decoration-thickness: 0.125em;
  text-underline-offset: 3px;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
}

/* Tablet */
@media (max-width: 1023px) {
}

/* Mobile */
@media (max-width: 960px) {
  .wrapper {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }
  
  .header {
    display: block;
    padding: 1.5rem;
  }

  .navPrimary {
    display: block;
    height: 24px;
    margin-top: 1.5rem;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }

  .navPrimary::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }

  .navLink:not(:first-child) {
    padding-left: 1.5rem;
  }

  .navLinkActive:not(:first-child) {
    padding-left: 1.5rem;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
